* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 65%;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 100;
	font-size: 1.5rem;
	padding: 0 3rem;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

#heading {
	font-size: clamp(.1rem, calc(5vw + 1rem), 5.5rem);
	text-transform: uppercase;
	font-weight: 500;
}

#heading span {
	color: rgb(32, 202, 202);
}

.info {
	margin-bottom: 2.5rem;
	color: rgb(32, 202, 202);
	text-transform: capitalize;
}

.container {
	margin: 0 auto;
	color: rgb(221, 221, 208);
}

.banner {
	background-color: rgb(54, 56, 61);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-inputs {
	display: flex;
}

#book-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}

.input-group p,
label {
	display: block;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.input-group {
	margin: 0 2rem 2rem 0;
}

input {
	font-size: inherit;
	font-family: inherit;
	padding: .4rem .5rem;
}

input:focus {
	outline: none;
}

.btn {
	padding: .8rem 1.5rem;
	background-color: rgb(32, 202, 202);
	border: none;
	border-radius: 3px;
}

.remove-all {
	margin-bottom: 1rem;
	background-color: #f00;
	color: #fff;
}

/* LIST OF BOOKS */
.books {
	color: black;
	text-align: center;
	margin-top: 2.5rem;
}

.books h3 {
	margin-bottom: 1rem;
	text-transform: uppercase;
	text-decoration: underline;
}

.books-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#books-list {
	width: 100%;
}

#books-list .header {
	background-color: rgb(54, 56, 61);
	color: rgb(221, 221, 208);
}

#books-list .header tr th,
#books-list .body tr td {
	padding: 1rem 0;
}

#books-list .body tr:nth-child(odd) {
	background-color: rgb(170, 177, 177);
}
#books-list .body tr:nth-child(even) {
	background-color: rgb(199, 201, 195);
}

.delete {
	background-color: #f00;
	padding: .7rem;
	color: white;
}

.alert {
	color: #fff;
	padding: .8rem;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.alert-success {
	background-color: rgba(10, 153, 5, 0.719);
}

.alert-success-deleted {
	background-color: orangered;
}

.alert-error {
	background-color: rgb(230, 26, 26);
}

/* UTILITIES */
.hidden {
	display: none;
}

@media screen and (max-width: 48.75em) {
	body {
		font-size: 1.2rem;
		padding: 0 .2rem;
	}

	.alert {
		width: 90%;
	}

	.delete {
		padding: .5rem;
	}

	.form-inputs {
		flex-direction: column;
	}

	.books-header {
		justify-content: space-between;
	}
}
